version: "3.9"

services:
  product-db:
    image: postgres:15
    container_name: product-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: product_db
    ports:
      - "5432:5432"
    volumes:
      - product-data:/var/lib/postgresql/data  

  product-service:
    build: ./product-service
    container_name: product-service
    restart: always
    depends_on:
      - product-db
    env_file:
      - .env
    ports:
      - "8000:8000"

volumes:
  product-data: